footer {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  background: #f4efec;
}

footer p, footer a {
  font-size: 12pt;
  padding-left: 0;
}

footer > p > a {
  color: var(--text-color);
  text-decoration: none;
}

footer > p > a:hover {
  filter: brightness(2);
}