<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="A kender ipari felhasználásának módja szinte határtalan. Fedezd fel nálunk a benne rejlő lehetőségeket!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ asset('css/root.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mobile.css') }}">

    <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>