{% extends 'base.html.twig' %}

{% block head %}
    <head>
        <title>Sativion - {{ 'food.title'|trans }}</title>
    </head>
{% endblock %}

{% block content %}
    <article class="food-art">
        <h2>{{ 'food.title'|trans }}</h2>
        <p>{{ 'food.text'|trans }}</p>
        <div class="food-art product-list">
            <span>
                <h4>{{ 'global.empty'|trans }}</h4>
            </span>
        </div>
    </article>
{% endblock %}