<footer>
    <p>
        <b>contact</b><br>
        Sativion Kft. <br>
        1116 Budapest Kondorosi út 8/A <br>
        <style>
            #mehl:before {
                content: "info";
            }
            #mehl:after {
                content: "@sativion.com"
            }
        </style>
        <span id="mehl"></span>
    </p>
</footer>